# Build output
/build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Visual Studio Code
.vscode/

# Executables
*.exe

# Object files
*.o
*.obj

# Libraries
*.a
*.lib